* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    background-color: black;
    height: 100px;
    width: 100px;
    display: flex;
    margin: 200px auto;
    transform-origin: right bottom;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.box:hover {
    animation-name: change-color, rotate, size;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes change-color {
    0% {
        background-color: red;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: red;
    }
}

@keyframes size {
    0% {
        transform: scale(1.0, 1.0);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1.0, 1.0);
    }
}