* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    --first-color: blue;
    --button-color: darkblue;
    --button-color: rgb(0, 0, 70);
    --title-color: blue;
    --text-color: blue;
    --text-color-light: rgb(101, 101, 255);
    --body-color: rgb(196, 182, 249);
    --font-medium: 500;
    --font-bold: 700;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

body,
button,
input {
    font-family: "Special Gothic Expanded One", sans-serif;
}

i {
    font-size: 2.5rem;
}

.header {
    width: 100%;
    background-color: rgba(0, 0, 255, 0.555);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 32px 32px;
}

.container {
    margin: auto;
    max-width: 1024px;
}

.nav {
    height: 5rem;
    display: flex;
    column-gap: 3rem;
    align-items: center;
    justify-content: space-between;
}

.nav__logo,
.nav__toggle,
.nav__shop,
.nav__close {
    transition: 0.3s;
    color: var(--title-color);
}

.nav__logo {
    text-transform: uppercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    transition: 0.3s;
}

.nav__btns {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

/* .nav__toggle,
.nav__close {
    display: none;
} */

.nav__list{
    display: flex;
    column-gap: 2.5rem;
}

.nav__link {
    transition: 0.3s;
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__container {
    filter: blur(10px);
}

.main {
    overflow: hidden;
}

.grid {
    display: grid;
}

.section {
    padding: 6.5rem 1rem;
}

.home__container {
    position: relative;
    row-gap: 2.5rem;
    padding-top: 6rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
}

.home__img-bg {
    background-color: var(--first-color);
    order: 1;
    transform: translate(1.5rem, -6rem);
    width: 480px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.home__img {
    width: 420px;
}

.home__social {
    position: absolute;
    top: 47%;
    left: -6rem;
    column-gap: 2rem;
    display: flex;
    transform: rotate(-90deg);
    transition: 0.3s;
}

.home__social-link {
    color: var(--text-color-light);
    transition: 0.3s;
}

.home__data {
    padding: 0 0 8rem 6rem;
}

.home__title {
    font-size: 2.5rem;
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}

.home__description {
    margin-bottom: 1.5rem;
}

.nav__logo:hover,
.nav__toggle:hover,
.nav__shop:hover,
.nav__close:hover {
    color: white;
}

.nav__link:hover {
    color: white;
}

.home__social-link:hover {
    transform: translateX(10px);
}