* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(pattern_100x100.png);
}

.first-container {
    width: 1000px;
    height: 700px;
    background-repeat: no-repeat;
    background: grey url(i\ \(2\).webp);
    background-size: contain;
}

.google {
    font-size: 32px;
    margin: 40px;
    display: block;
}

.google:visited {
    color: green;
}

.google:active {
    color: lawngreen;
}

button {
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 12px 16px;
    margin: 50px auto;
    display: block;
    border-radius: 12px;
    border: 1px solid black;
}

.button-a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 32pxs;
}

button:hover {
    background: rgb(0, 0, 0);
    border: 2px solid red;
}

button:hover > .button-a {
    color: red;
}

.filter-div {
    width: 300px;
    height: 300px;
    background: url(XXL_height.webp);
    background-size: cover;
    transition: 1s;
}

.filter-div:hover{
    filter: blur(3px);
}