*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    width: 70%;
    min-height: 1000px;
    margin: 40px auto;
    background-color: rgb(22, 131, 6);
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;   
    column-gap: 16px;
    row-gap: 24px;
}

.box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 32px;
    font-weight: bold;
    border: 1px solid black;
}

.grid-elem1 {  
}

.grid-elem2 {
    grid-column: 2 / 4 ;
    grid-row: 1 / 3;
}

.grid-elem4 {
    grid-column: 5 / 6 ;
    grid-row: 1 / 3;
}

.grid-elem5{
    grid-column: 1 / 2 ;
    grid-row: 1 / 2;
}

.grid-elem8{
    order: -1;
}

.grid-elem10{
    grid-column: 2 / 3 ;
    grid-row: 3 / 5;
}

.grid-elem12 {
    grid-column: 4 / 6 ;
    grid-row: 3 / 4;
}

.grid-elem13{
    order: -1;
}

.grid-elem15{
    grid-column: 3 / 4 ;
    grid-row: 4 / 7;
}

.grid-elem16{
    grid-column: 4 / 5 ;
    grid-row: 4 / 6;
}
.grid-elem17{
    grid-column: 5 / 7 ;
    grid-row: 4 / 7;
}

.grid-elem18{
    grid-column: 1 / 3 ;
    grid-row: 5 / 7;
}

.grid-elem19{
    grid-column: 4 / 5 ;
    grid-row: 6 / 7;
}