* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 50px auto;
    border: 2px solid lightblue;
    padding: 20px;
    gap: 20px;
}

.box {
    height: 80px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.box-1:hover {
    transform: translateX(10px);
}

.box-2:hover {
    transform: translateY(10px);
}

.box-3:hover {
    transform: translate(-10px, -10px);
}

.box-4:hover {
    transform: scaleX(1.1);
}

.box-5:hover {
    transform: scaleY(1.1);
}

.box-6:hover {
    transform: scale(1.1, 1.1);
}

.box-7:hover {
    transform: rotate(30deg);
}

.box-8:hover {
    transform: skewX(5deg);
}

.box-9:hover {
    transform: skewX(5deg);
}

.box-7 {
    transform-origin: left top;
}

@keyframes change-color {
    0% {
        background-color: blue;
    }

    33% {
        background-color: yellow;
    }

    66% {
        background-color: red;
    }

    100% {
        background-color: blue;
    }
}

.box-5 {
    animation-name: change-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}