.text-display{
    display: inline;
}

.box1{
    border: 6px solid #949599;
    height: 100px;
    width: 400px;
    margin: 20px;
    padding: 20px;
}

.h2-1{
    background-color: lightblue;
    border-width: 0 0 0 6px;
    border-style: solid;
    border-color: darkblue;
}

.h2-2{
    background-color: lightblue;
    border: 4px dotted darkblue;
}

.h2-3{
    background-color: lightblue;
    border-width: 4px 6px;
    border-style: double;
    border-color: darkblue;
}

.h2-4{
    background-color: lightblue;
    border-width: 6px 4px;
    border-style: dashed;
    border-color: darkblue;
}

.h2-5{
    background-color: lightblue;
    border-width: 0 6px;
    border-style: outset;
    border-color: darkblue;
}

.h2-6{
    background-color: lightblue;
    border-width: 4px 0px;
    border-style: solid;
    border-color: darkblue;
}

.box3{
    padding: 10px 15px 22px 18px;
    margin: 10px 15px 22px 18px;
    background-color: rgb(150, 123, 123);
    width: 300px;
    border: 4px solid grey;
    box-sizing: border-box;
}

.box4{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin-left: 100px;
    box-sizing: border-box;
    border-radius: 50%;
}